name: Link Checker

on:
  push:
    branches:
      - readme
      - main
  pull_request:
    branches:
      - main

jobs:
  linkChecker:
    permissions:
      contents: read
      issues: write # required for peter-evans/create-issue-from-file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0
        with:
          # Check all markdown, html files in repo
          args: "--verbose './**/*.md' './**/*.html'"
          # Use makdown as output format (easier to work on issues)
          format: markdown
          # Don't fail action on broken links
          fail: false

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated
