name: Create Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"

          gh release create "$tag" \
            --title="$tag" \
            --draft \
            --generate-notes

      - name: Summary
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          echo "### GitHub Release" >> $GITHUB_STEP_SUMMARY
          echo "- :bookmark: Release created for tag \`$TAG\`" >> $GITHUB_STEP_SUMMARY
